{% extends "wflocal/base.html" %}

{% block content %}



<div id="newSearch"><form name="form" method="get" action="{% url wflocal.views.item %}">look up another item: <input type="text" name="item_id" size="14" /> &nbsp; <button type="submit" class="tiny">go</button></form></div>

<div id="pageTitle">workflow &gt; <a href="{% url wflocal.views.main %}">main menu</a> &gt; property owner</div>  



<div class="box">

<h3>all property owners</h3>
<table border="0" cellpadding="5" class="striped">
<tr>
 <td><b>id</b></td>
  <td><b>description</b></td>

</tr>

{% for po in property_owners %}
<tr>
<td><a href="{% url wflocal.views.property_owner_detail  po.id %}">{{ po.name }}</a></td>
<td>{{ po.description }}</td>

</tr>
{% endfor %}

</table>


<!-- END BOX -->
</div>




{% endblock %}
